{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h2>{{ title }}</h2>
    {% for post in posts %}
        <hr/>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <h4>{{ post.posted }}</h4>
                    <p class="card-text">{{ post.description }}</p>
                    <p><a href="{% url 'blogpost' parametr=post.id %}">ЧИТАТЬ ДАЛЕЕ</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}