{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="border rounded-2 border-3 w-25 bg-warning text-center">
            <h3 class="text-white">Контакты:</h3>
            <p class="text-white">Адрес: г. Псков, Яна Фабрициуса, д. 10</p>
            <p class="text-white">Телефон: +7900-000-00-00</p>
            <p class="text-white">Почта: dns@dns.ru</p>
            <p class="text-white">Разработчик: Золотцев Пётр Сергеевич</p>
        </div>
    </div>
{% endblock %}