{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 1</h5>
                    <p class="card-text">Текст новости 1</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 2</h5>
                    <p class="card-text">Текст новости 2</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 3</h5>
                    <p class="card-text">Текст новости 3</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 4</h5>
                    <p class="card-text">Текст новости 4</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 5</h5>
                    <p class="card-text">Текст новости 5</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 6</h5>
                    <p class="card-text">Текст новости 6</p>
                </div>
            </div>
        </div>
            <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 7</h5>
                    <p class="card-text">Текст новости 7</p>
                </div>
            </div>
        </div>
            <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 8</h5>
                    <p class="card-text">Текст новости 8</p>
                </div>
            </div>
        </div>
            <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 9</h5>
                    <p class="card-text">Текст новости 9</p>
                </div>
            </div>
        </div>
            <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Новость 10</h5>
                    <p class="card-text">Текст новости 10</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

