{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="border rounded-2 border-3 w-25 bg-warning text-center">
            <h3 class="text-white">Ресурсы:</h3>
            <a href="https://www.eldorado.ru/" class="text-white"><img src="" alt="">Эльдорадо</a>
            <a href="https://www.mvideo.ru/" class="text-white"><img src="" alt="">Мвидео</a>
            <a href="https://www.dns-shop.ru/" class="text-white"><img src="" alt="">DNS</a>
        </div>
    </div>
{% endblock %}