{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <p class="d-flex justify-content-center mt-5 ">Мир электроники</p>
    <h1 class="d-flex justify-content-center">Официальный магазин DNS</h1>
    <div class="d-flex justify-content-center mb-4">
        <div class=" border-bottom border-warning border-4" style="width: 60px;"></div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="border border-3 rounded-2 btn btn-warning text-white w-40" href="/catalog">Узнать больше</a>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <div class="container mt-5 w-75">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Новость 1</h5>
                        <p class="card-text">Текст новости 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Новость 2</h5>
                        <p class="card-text">Текст новости 2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Новость 3</h5>
                        <p class="card-text">Текст новости 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
