{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <style>
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            filter: invert(100%);
        }
    </style>
    <p class="d-flex justify-content-center mt-5 ">Мир электроники</p>
    <h1 class="d-flex justify-content-center">Официальный магазин DNS</h1>
    <div class="d-flex justify-content-center mb-4">
        <div class=" border-bottom border-warning border-4" style="width: 60px;"></div>
    </div>

    <div id="carouselExample" class="carousel slide mt-5">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/macbookAir.jpeg' %}" class="d-block w-25 mx-auto"
                     alt="img">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/macbookAir.jpeg' %}" class="d-block w-25 mx-auto"
                     alt="img">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/macbookAir.jpeg' %}" class="d-block w-25 mx-auto"
                     alt="img">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden invert-color">Next</span>
        </button>
        <div class="d-flex justify-content-center">
            <a class="border border-3 rounded-2 btn btn-warning text-white w-40" href="/catalog">Узнать больше</a>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="container mt-5 w-75">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Новость 1</h5>
                        <p class="card-text">Текст новости 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Новость 2</h5>
                        <p class="card-text">Текст новости 2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Новость 3</h5>
                        <p class="card-text">Текст новости 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
