{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h1>{{ title }}</h1>
    <hr/>
    <div>
        <h2>
            Видеоролик 1
        </h2>
        <video src="/media/1.mp4" controls="controls" width="400" height="300" poster="/media/князь.jpg"></video>
    </div>
    <hr/>
    <div>
        <h2>
            Видеоролик 2
        </h2>
        <video src="/media/2.mp4" controls="controls" width="400" height="300" poster="/media/3.jpg"></video>
    </div>
{% endblock content %}